* {
    box-sizing: border-box;
  }
  
  body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
   "Lucida Sans", Arial, sans-serif;
    color: #0d122b;
    display: flex;
    flex-direction: column;
    padding-left: 1em;
    padding-right: 1em;
  }
  
  h1 {
    text-align: center;
    font-weight: 100;
  }
  
  h1 .fa-face-smile-wink {
    color: #ebdd1d;
    text-shadow: 0 2px 5px black;
  }
  
  header {
    border-bottom: 1px solid #0d122b;
    margin-bottom: 1em;
  }
  
  .main-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: #fff;
    border-radius: 12px;
    margin-bottom: 2em;
    padding-top: 2em;
    text-align: center;
  }
  .home{
    display: flex;
    justify-content: space-between;
  }

  .leaderboard{
    display: flex;
    order:1;
    flex:2;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    width: 350px;
    margin: 0 auto;
  }
  .leaderboard-title{
    text-align: center;
    padding: 10px;
    font-size: 1.5rem;
  }

  .home-text{
    order:2;
    padding: 20px;
    flex:5;
  }

  .home-text .header{
    font-size: 24px;
  }
  .home-text .text{
    display: flex;
    justify-content: center;
    font-size: 1.5rem;

  }
  .game {
    display: flex;
    flex:3;
    order:1;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    border-radius: 12px;
    margin-bottom: 2em;
    padding-top: 2em;
    text-align: center;
  }
  .stats{
    flex:1;
    order:2;
    width: auto; 
    overflow-x: hidden; 
    align-self: flex-start;
  }

  @media (max-width: 600px) {
    main {
      flex-direction: column;
    }
    .game {
      order: 2;
    }
  
    .stats {
      order: 1;
      align-self: center;
    }
    .leaderboard{
      order:2;
    }
    .home-text{
      order:1;
    }
  }
  .stats table {
    width: 100%;
    border-collapse: collapse; 
  }
  
  .stats th {
    padding: 10px; 
  }
  .th-label{
    text-align: right;
  }

  .timer {
    background-color: #d5f1c1;
    margin-bottom: 4em;
    padding: 15px;
    border-radius: 4px;
    font-weight: bold;
    color: #555;
    font-size: 16px;
  }
  
  .example {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 30px;
  }
  
  .example i {
    font-size: 25px;
    margin: 5px;
  }
  
  .example span {
    font-size: 30px;
    margin: 5px;
  }
  
  .example .correct {
    background-color: #a5f083;
    padding: 0 4px;
    border-radius: 4px;
  }
  
  .example .wrong {
    background-color: #f0c183;
    padding: 0 4px;
    border-radius: 4px;
    color: #f0c183;
  }
  
  .example .accepted {
    background-color: #ec9972;
    color: #ec9972;
  }
  
  .example .no-answer {
    background-color: #dbdad8;
    padding: 0 4px;
    border-radius: 4px;
    color: #dbdad8;
  }
  .exmaple .initial{
    background-color: white;
    padding: 0 4px;
    border-radius: 4px;
    color: black;
  }
  
  .answers {
    width: 350px;
  }
  .rules{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    font-size: 1.5rem;
    margin: 50px auto;
  }
  .multiply-rules{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    font-size: 1.5rem;
  }

  .tiles {
    display: flex;
    flex-direction: column;
    
  }

  .tile {
    height: 81px;
    width: 81px;
    background: transparent;
    margin: 10px;
    border-radius: 4px;
    border: 1px solid green;
    cursor: pointer;
  }
  
  .tile-selected{
    
  }
  .tile-shown{
    background-color: #565851;
  }
  .tile-correct {
    background-color: #c4eb64;
  }
  .tile-wrong{
    background-color: #e7582c;
  }

  .lvl2, .lvl3, .lvl4{
    height: 81px;
    width: 81px;
  }
  .lvl5{
    height: 60px;
    width: 60px;
    margin: 7px;
  }
  .lvl6{
    height: 50px;
    width: 50px;
    margin: 5px;
  }
  .lvl7{
    height: 45px;
    width: 45px;
    margin: 4px;
  }

  .variant {
    height: 81px;
    width: 81px;
    font-family: inherit;
    font-size: 25px;
    font-weight: bold;
    padding: 1em;
    background: transparent;
    color: #296629;
    margin: 10px;
    border-radius: 4px;
    border: 1px solid green;
    cursor: pointer;
  }
  
  .pressed {
    background-color: #def895;
  }
  
  #button {
    font-family: inherit;
    font-size: 20px;
    font-weight: bold;
    padding: 1em;
    width: 200px;
    background: transparent;
    border: 2px solid green;
    border-radius: 5px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    color: green;
    margin-bottom: 4em;
    margin-top: 40px;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  
  
  #button.started {
    background: #ffc82f;
    color: #fff;
  }
  
  #button:hover {
    background: greenyellow;
    color: #fff;
    outline: 0;
  }
  
  button:focus {
    outline: 0;
  }
  
  .active {
    display: block;
  }
  
  .score {
    font-family: inherit;
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
  }
  
  a {
    color: #0d122b;
  }
  
  .error {
    color: #f22f46;
    text-align: center;
  }

  .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
  }
  .navbar-brand{
    display: flex;
    flex:1;
    flex-direction: column;
    align-items: center;
    gap: 10px
  }
  .navbar-menu{
    flex:6;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navbar-left{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    padding-inline-start: 0px;  
  }
  .navbar-left li{
    padding: 20px;
    font-size: 1.5rem;
  }
  .navbar-right{
    display: flex;
    list-style: none;
    flex-direction: column;
  }
  .navbar-right li{
    padding: 10px;
    font-size: 1rem;
  }
  .navbar-login{
    display: flex;
    width : auto;
    list-style: none;
    flex-direction: column;
    gap: 10px;
    justify-content: end;
  }

  .navbar-login li{
    padding: 10px;
    font-size: 1rem;
  }

  
  td, th{
    border-bottom: 1px solid black;
  }
  .user-name{
    text-align: left;
    padding-left: 15px;
  }
  .reg-form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
    margin: 0 auto;
  }
  .yl{
    background-color: grey;
    border-color: red;
    border-width: 1px;
    border-style: solid;
  }

  .footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-top: auto;
  }