{% extends "layout.html" %}

{% block title %}
    : Home
{% endblock %}


{% block main %}
<main class="home yl">
   <div class="leaderboard yl ">
        <div class="leaderboard-title">Leaderboard</div>
        <table class="leaderboard-table ">
            <colgroup>
                <col style="width: 50px;"> 
                <col> 
                <col style="width: 40px;">
            </colgroup>
            <thead>
                <tr>
                    <th >Rank</th>
                    <th class ="user-name">Username</th>
                    <th>Score</th>
                </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr class = "row">
                    <td style="text-align: center;">{{loop.index}}</td>
                    <td class ="user-name">{{user["username"]}}</td>
                    <td>
                        {% if user["MAX(score)"] is none %}
                            0
                        {% else %}
                            {{ user["MAX(score)"] }}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="home-text yl">
        <h1 class ="header">Welcome to ReThink!</h1>
        <div class ="text">
            <p>This is a website that provides a platform for you to practice your mental math skills</p>

    </div>
</main>
{% endblock %}