<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <link href="/static/styles.css" rel="stylesheet">

        <title>ReThink{% block title %}{% endblock %}</title>
        <script defer src="{% block script %}{% endblock %}"></script>
        <script src="https://kit.fontawesome.com/a7a1e2a97e.js" crossorigin="anonymous"></script>
    </head>

    <body>
        <nav class=" yl">
            <div class="navbar">
                <div>
                    <a class="navbar-brand" href="/">
                        <img src="/static/logo.png" width="60" alt="Home">
                        ReThink
                    </a>
                </div>
                <div class="" id="navbar">
                    {% if session["user_id"] %}
                        <ul class="navbar-nav">
                            <li class="nav-item"><a class="nav-link" href="/multiply">Multiply Challenge</a></li>
                        </ul>
                        <ul class="navbar-nav">
                            <li class="nav-item"><a class="nav-link" href="/changepass">Change Password</a></li>
                            <li class="nav-item"><a class="nav-link" href="/logout">Log Out</a></li>
                        </ul>
                    {% else %}
                        <ul class="navbar-nav">
                            <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
                            <li class="nav-item"><a class="nav-link" href="/login">Log In</a></li>
                        </ul>
                    {% endif %}
                </div>
            </div>
        </nav>

        <main class="main-container yl">
            {% block main %}{% endblock %}
        </main>

        <footer>
        </footer>
    </body>
</html>
