<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <link href="/static/styles.css" rel="stylesheet">

        <title>ReThink{% block title %}{% endblock %}</title>
        <script defer src="{% block script %}{% endblock %}"></script>
        <script src="https://kit.fontawesome.com/a7a1e2a97e.js" crossorigin="anonymous"></script>
    </head>

    <body>
        <nav class="navbar ">
                <div>
                    <a class="navbar-brand" href="/">
                        <img src="/static/logo.png" width="60" alt="Home">
                        ReThink
                    </a>
                </div>
                <div class="navbar-menu " id="navbar">
                    {% if session["user_id"] %}
                    <div class="navbar-menu " id="not-authorized">
                        <ul class="navbar-left ">
                            <li class="nav-item "><a class="nav-link" href="/multiply" id="multiply-link" >Multiply Challenge</a></li>
                            <li class="nav-item "><a class="nav-link" href="/tiles" id="tiles-link" >Memory Tiles</a></li>
                        </ul>
                        <ul class="navbar-right ">
                            <li class="nav-item"><a class="nav-link" href="/changepass">Change Password</a></li>
                            <li class="nav-item"><a class="nav-link" href="/logout">Log Out</a></li>
                        </ul>
                    </div>
                    {% else %}
                    <div class="navbar-menu yl" id="authorized"></div>
                        <ul class="navbar-login yl">
                            <li class="nav-item yl"><a class="nav-link" href="/login">Log In</a></li>
                            <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
                        </ul>
                    </div>
                    {% endif %}
                </div>
        </nav>
        {% block main %}
            
        {% endblock %}
        <footer class = "footer">
            Practice makes perfect
        </footer>
    </body>
</html>
