{% extends "layout.html" %}

{% block title %}
    : Multiply Challenge
{% endblock %}

{% block script %}
  {{script}}
{% endblock %}

{% block main %}
<main class="main-container ">
  <div class="game ">
    <div class="score ">Last Score: {{lastScore}}</div>
    <div class="timer ">60 sec</div>
    <div class="multiply-rules ">
      Choose the correct answer from the options below. For every correct answer you get 1 point and 2 seconds of bonus time. Initialy you have 60 seconds to answer as many questions as you can. For every wrong answer you lose 1 second of your time and 1 score point. Try your best!
    </div>
    <div class="example ">
      <div id="left-operand">6</div>
      <i class="fa-solid fa-xmark"></i>
      <div id="right-operand">8</div>
      <span>=</span>
      <div class="calc-result no-answer" id="calc-result">?</div>
    </div>
    
    <div class="answers "></div>
    
    <button id="button">Begin</button>
  </div>
  <div class="stats">
    <table>
      <tbody>
        <tr>
          <th class="th-label">Your Highest Score: </th>
          <td>
            {% if highScore is none %}
                0
            {% else %}
                {{highScore}}
            {% endif %}
          </td>
        </tr>
        <tr>
          <th class="th-label">Total solved:  </th>
          <td>
            {% if totalSolved is none %}
                0
            {% else %}
                {{totalSolved}}
            {% endif %}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</main>
{% endblock %}