{% extends "layout.html" %}

{% block title %}
    : Multiply Challenge
{% endblock %}

{% block script %}
  {{script}}
{% endblock %}

{% block main %}
<main class="main-container yl">
  <div class="game yl">
    <div class="score yl">Last Score: {{lastScore}}</div>
    <div class="timer yl">60 sec</div>

    <div class="example">
      <div id="left-operand">6</div>
      <i class="fa-solid fa-xmark"></i>
      <div id="right-operand">8</div>
      <span>=</span>
      <div class="calc-result no-answer" id="calc-result">?</div>
    </div>

    <div class="answers"></div>
    <button id="button">Begin</button>
  </div>
  <div class="stats">
    <ul>
      {%for score in stats%}
      <li>{{score}}</li>
      {%endfor%}
    </ul>
  </div>
</main>
{% endblock %}