{% extends "layout.html" %}

{% block title %}
    : Memory Tiles
{% endblock %}

{% block script %}
  {{script}}
{% endblock %}

{% block main %}
<main class="main-container">
  <div class="game">
    <div class="score yl ">Last Score: {{lastScore}}</div>

    <div class="example yl">
      test
    </div>

    <div class="tiles"></div>
    <button id="button">Begin</button>
  </div>
  <div class="stats yl">
    <table>
      <tbody>
        <tr>
          <th class="th-label">Your Highest Score: </th>
          <td>{{highScore}}</td>
        </tr>
        <tr>
          <th class="th-label">Total solved:  </th>
          <td>{{totalSolved}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</main>
{% endblock %}