{% extends "layout.html" %}

{% block title %}
    : Memory Tiles
{% endblock %}

{% block script %}
  {{script}}
{% endblock %}

{% block main %}
<main class="main-container">
  <div class="game">
    <div class="score  ">Last attempt: {{lastAttempt}}</div>

    <div class="rules">
      Try to remember the pattern of the tiles. When they disapear click on them.
    </div>

    <div class="tiles" id="tiles" ></div>
    <button id="button">Begin</button>
  </div>
  <div class="stats ">
    <table>
      <tbody>
        <tr>
          <th class="th-label">You've reached: </th>
          <td>Level:{{maxLevel}} Round:{{maxRound}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</main>
{% endblock %}